# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env

# Environment variable files
.env

# VS Code
.vscode/

# macOS files
.DS_Store

# Python-specific
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# Log files
*.log

# Ignore requirements file backup
requirements.txt.bak

# Ignore build artifacts
build/
dist/
*.egg-info/
*.egg
*.whl
